<?php

$title = $this->translate('Contact Form');
#meta keywords
$this->headMeta()->appendName('keywords', 'Contact, Ask, Enquire');
#meta description
$this->headMeta()->appendName('description', 'Get in touch with us');
#page title
$this->headTitle($this->escapeHtml($title));

$form = $this->form;
$form->setAttribute('action', $this->url('help', ['action' => 'contact']));
$form->prepare();

?>

<div class="container">
	<div class="row">

		<div class="col-md-5 shadow-sm">

			<h3 class="pt-2 text-md-center">
				<?= $this->translate('Get In Touch With Us.'); ?>

			</h3>

			<?= $this->form()->openTag($form); ?>

			<div class="mb-3">
				<?= $this->formLabel($form->get('your_name')); ?>
				<div class="input-group">
					<?= $this->formText($form->get('your_name')); ?>
				</div>

				<div class="text-danger">
					<?= $this->formElementErrors($form->get('your_name')); ?>
				</div>
			</div>

			<div class="mb-3">
				<?= $this->formLabel($form->get('your_email')); ?>
				<div class="input-group">
					<?= $this->formText($form->get('your_email')); ?>
				</div>

				<div class="text-danger">
					<?= $this->formElementErrors($form->get('your_email')); ?>
				</div>

			</div>

			<div class="mb-3">
				<?= $this->formLabel($form->get('message')); ?>
				<div class="input-group">
					<?= $this->formTextarea($form->get('message')); ?>
				</div>

				<div class="text-danger">
					<?= $this->formElementErrors($form->get('message')); ?>
				</div>

			</div>

			<div class="mb-3">
				<?= $this->formLabel($form->get('turing')); ?>
				<div class="input-group">
					<?= $this->formCaptcha($form->get('turing')); ?>
				</div>

				<div class="text-danger">
					<?= $this->formElementErrors($form->get('turing')); ?>
				</div>
			</div>

			<div class="mb-3 float-right">
				<?= $this->formHidden($form->get('csrf')); ?>
				
				<div class="text-danger">
					<?= $this->formElementErrors($form->get('csrf')); ?>
				</div>

				<?= $this->formSubmit($form->get('contact_us')); ?>

			</div>

			<?= $this->form()->closeTag(); ?>

		</div>

	</div>
</div>