<div class="container">
	<div class="row mb-3">

		<div class="nav-scroller shadow-sm">
			<nav class="nav nav-underline">
				<a href="<?= $this->url('settings', ['action' => 'email']); ?>" class="nav-link">
					Change Email Address
				</a>
				
				<a href="<?= $this->url('settings', ['action' => 'password']); ?>" class="nav-link">
					Change Password
				</a>

				<a href="<?= $this->url('settings', ['action' => 'username']); ?>" class="nav-link">
					Change Username
				</a>

				<a href="<?= $this->url('settings', ['action' => 'delete']); ?>" class="nav-link">
					Deactivate Account
				</a>
			</nav>
		</div>
	</div>
</div>