<?php

$title = $this->translate('All My Quizzes');
#meta keywords
$this->headMeta()->appendName('keywords', 'My Quizzes, Manage');
#meta description
$this->headMeta()->appendName('description', 'List all quizzes I have posted.');
#page title
$this->headTitle($this->escapeHtml($title));

?>

<div class="container">

	<div class="row">

		<div class="col-md-12">

		<div class="d-block">
			<h3 class="mb-3"><?= $this->translate('All My Quizzes'); ?></h3>

			<p>
			   <a href="<?= $this->url('quiz', ['action' => 'create']); ?>" class="btn btn-sm btn-primary">
				  <i>+</i> Create a new quiz
			   </a>
			</p>

		</div>

		<?php if(count($this->quizzes) > 0): ?>

			<div class="table-responsive">
				
				<table class="table table-striped table-sm">
					
					<thead>
						<tr>
							<th>#</th>
							<th>Title</th>
							<th>Status</th>
							<th>Category</th>
							<th>Ends On</th>
							<th>Views</th>
							<th>Created</th>
							<th>Actions</th>
						</tr>
					</thead>

					<tbody>
						
						<?php foreach($this->quizzes as $quiz): ?>

							<tr>
								<td><?= $quiz->getQuizId(); ?></td>
								<td>
									<a href="<?= $this->url('quiz', ['action' => 'answer', 'id' => $quiz->getQuizId(),]); ?>">

										<?= $quiz->getTitle(); ?>
									</a>
										
								</td>
								<td><?= $quiz->getStatus(); ?></td>
								<td><?= $quiz->getCategory(); ?></td>
								<td>

									<?= 
									   $this->dateFormat(
									   	new DateTime($quiz->getTimeout()),
									   	IntlDateFormatter::MEDIUM,
									   	IntlDateFormatter::MEDIUM,
									   	"en-us"
									   );
									?>
										
								</td>
								<td><?= $quiz->getViews(); ?></td>
								<td><?=
									$this->dateFormat(
									   	new DateTime($quiz->getCreated()),
									   	IntlDateFormatter::MEDIUM,
									   	IntlDateFormatter::MEDIUM,
									   	"en-us"
									   );
									?>	
								</td>
								<td>
								   <?php if($quiz->getStatus() == 'Active'): ?>
									<a href="<?= $this->url('quiz', ['action' => 'delete', 'id' => $quiz->getQuizId()]); ?>">
										<?= $this->translate('Delete'); ?>	
									</a>
								   <?php endif; ?>
								</td>

							</tr>
						<?php endforeach; ?>

					</tbody>

				</table>

			</div>
		<?php else: ?>
			
			<p class="form-text text-muted pt-1">
				You have not posted any quiz yet.</p>
			</p>

		<?php endif; ?>

	</div>
	</div>

</div>

